// --------------------------------------
// Paths
// --------------------------------------

$path-font-icon: '../fonts' !default;

// --------------------------------------
// Grid System
// --------------------------------------

$system-width: 1200px !default;
$column-width: 80px !default;
$gutter-width: 0px !default;
$columns: 15 !default;

// --------------------------------------
// Colors
// --------------------------------------

$black-01: #000 !default;
$white-01: #fff !default;

// --------------------------------------
// Fonts
// --------------------------------------

$arial: Arial, "Helvetica Neue", Helvetica, sans-serif !default;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$georgia: Georgia, "Times New Roman", Times, serif !default;
$times: "Times New Roman", Times, serif !default;