// --------------------------------------
// Header
// --------------------------------------

.header {
	ul {
		margin: 0 auto;
		padding: 0;
		list-style: none;

		@include breakpoint(small) {
			color: $gray-02;
			font-family: $arial;
			font-size: 15px;
			text-transform: uppercase;
			letter-spacing: 3px;
		}
	}

	&[data-menu='open'] {

		@include breakpoint(small) {
			.social-nav,
			.main-nav { display: block; }
		}
	}

	.navigation {
		@include breakpoint(small) {
			position: fixed;
			width: 100%;
			z-index: 10;
		}
	}
}

h1 {
	position: relative;
	width: 446px;
	height: 78px;
	top: 105px;
	margin: 0 auto;
	background: url(#{$path}/images/memorabella-logo.png) center bottom no-repeat;

	@include breakpoint(small) {
		width: 295px;
		height: 52px;
		top: 100px;
		background: url(#{$path}/images/memorabella-logo-mobile.png) center bottom no-repeat;

		@include background-scale('width');
	}

	a {
		display: block;
		width: 100%;
		height: 100%;

		@include image-replace();
	}
}

.social-nav {
	position: absolute;
	width: 100%;
	padding: 8px 0;
	top: 0;
	left: 0;
	background: $black-01;

	@include breakpoint(small) {
		display: none;
		padding: 0;
		position: relative;
	}

	.menu {
		max-width: 900px;
		width: 90%;

		@include breakpoint(small) {
			width: 100%;
		}
	}

	.icon {
		width: 20px;
		height: 20px;
		margin-right: 14px;

		@include inline-block();

		@include breakpoint(small) {
			width: 100%;
			height: auto;
			margin: 0;
		}
	}
}

.icon a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none;
	background: url(#{$path}/images/memorabella-sprite-desktop.png) no-repeat;

	@include image-replace();

	@include breakpoint(small) {
		padding: 18px 0;
		color: inherit;
		background: none;
	}
}

.icon-search a {
	background-position: -60px -23px;
	@include breakpoint(small) {
		opacity: 0;
		pointer-events: none;
	}
}
.icon-instagram a {
	background-position: -91px -23px;
}
.icon-pinterest a { background-position: -122px -23px; }

.main-nav {
	text-align: center;
	position: relative;
	top: 224px;

	@include breakpoint(small) {
		display: none;
		top: 0;
		background: $black-01;
	}

	li {
		margin: 0 16px;
		font-family: $arial;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 3px;
		
		@include inline-block;

		@include breakpoint(small) {
			margin: 0;
			width: 100%;
			font-size: 15px;
		}

		a {
			color: $gray-01;
			text-decoration: none;

			&:hover { color: $black-01; }

			@include breakpoint(small) {
				display: block;
				padding: 18px 0;
				color: $gray-02;
				font-family: $arial;
				font-size: 15px;
				font-weight: normal;
				text-transform: uppercase;

				&:hover { color: $gray-02; }
			}
		}
	}
}

#form {
	position: absolute;
	max-width: 900px;
	width: 90%;
	top: 34px;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, -90px);

	transition: opacity 0.2s cubic-bezier(0.28, 0.11, 0.32, 1),
				transform 0.2s cubic-bezier(0.28, 0.11, 0.32, 1);

	@include breakpoint(medium) { max-width: 700px; }
	@include breakpoint(small) {
		top: 0;
		opacity: 1;
		max-width: 100%;
		width: 100%;
		height: 44px;
		z-index: 3;
		transform: translate(-50%, 0);
		border-bottom: 1px solid $white-01;
	}
}

#form.open {
	opacity: 1;
	transform: translate(-50%, 0);
}

.form-search {
	float: left;
	width: 739px;
	height: 49px;
	padding: 0 20px;
	color: $white-01;
	font-family: $arial;
	font-size: 20px;
	text-transform: uppercase;
	border: 0;
	outline: 0;
	background: $black-01;

	&::placeholder { color: $gray-02; }

	@include breakpoint(medium) { width: 539px; }
	@include breakpoint(small) {
		width: 100%;
		font-size: 15px;
		height: 44px;
		padding: 0;
		text-indent: 20px;
		letter-spacing: 3px;
	}
}

.form-icon {
	display: block;
	float: left;
	width: 60px;
	height: 49px;
	background: url(#{$path}/images/memorabella-sprite-desktop.png) $black-01 no-repeat;
}

.form-search-icon {
	border: 0;
	outline: 0;
	cursor: pointer;
	background-position: -837px -131px;

	&:hover { background-position: -837px -182px; }

	@include breakpoint(small) {
		position: absolute;
		top: 15px;
		right: 10px;
		width: 15px;
		height: 15px;
		background: url(#{$path}/images/memorabella-search-icon-mobile.png) center center no-repeat;
		@include background-scale('height');

		&:hover { background-position: center center; }
	}
}

.form-cancel-icon {
	margin-left: 1px;
	background-position: -900px -131px;

	&:hover { background-position: -900px -182px; }

	@include breakpoint(small) { display: none; }
}

.menu-button {
	display: none;
	padding: 18px 0;
	color: $gray-02;
	font-family: $arial;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background: $black-01;

	@include breakpoint(small) {
		display: block;
		font-size: 15px;
		letter-spacing: 3px;
		[data-menu='open'] & {
			border-top: 1px solid $white-01;
		}
	}
}