// --------------------------------------
// Wrapper
// --------------------------------------

body .main {
	position: relative;
	width: 96%;
	max-width: 900px;
	top: 195px;
	border-top: 1px solid $gray-03;
  	padding-top: 50px;

  	@include breakpoint(small) {
  		top: 80px;
  		padding-top: 0;
  		border-top: 0;
  	}
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

p, img {
	margin-bottom: 20px;

	@include breakpoint(small) { margin: 0 0 10px; }
}

img {
	width: auto;
	height: auto;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.entry-title {
	text-align: center;
	margin: 0 0 15px;

	@include breakpoint(small) {
		margin: 0 0 10px;
	}

	a {
		background: $black-01;
	  	font-family: $arial;
	  	text-align: center;
	  	padding: 5px 20px;
	  	color: $white-01;
	  	letter-spacing: 3px;
	  	text-transform: uppercase;
	  	text-decoration: none;
	  	font-size: 12px;

	  	@include breakpoint(small) {
	  		background: none;
	  		color: $black-01;
	  		font-size: 9px;
	  	}
	}
}
.entry-time {
	font-size: 12px;
	text-align: center;
	color: $gray-04;

	@include breakpoint(small) { font-size: 9px; }
}
.entry-content {
	p {
		font-family: $arial;
		font-size: 14px;
		color: $gray-02;

		@include breakpoint(small) { font-size: 10px; }
	}
}
.post {
	padding-bottom: 50px;
	border-bottom: 1px solid $gray-03;
	margin-bottom: 50px;

	@include breakpoint(small) { 
		margin-bottom: 0;
		border: 0;
	}
}
.post-navigation {
	text-align: center;
}
.pagination {
	text-align: center;
	font-family: $arial;
	text-transform: uppercase;
	color: $gray-03;
	font-size: 30px;
	margin-bottom: 100px;
	width: 100%;
	display: block;

	span {
		display: inline-block;
		height: 11px;
		vertical-align: middle;
		background: url(#{$path}/images/memorabella-sprite-desktop.png) no-repeat;

		a {
		  	display: block;
		  	width: 100%;
		  	height: 100%;
			@include image-replace();
		}

		&.prev {
			width: 141px;
		  	background-position: -61px -285px;
		}

		&.next {
			width: 96px;
		  	background-position: -263px -285px;
		}

		&.divider {
			margin: 0 20px;
		  	width: 1px;
		  	height: 31px;
		  	background-position: -232px -275px;
		}
	}
}