// --------------------------------------
// Wrapper
// --------------------------------------

.main {
	position: relative;
	width: 96%;
	max-width: 900px;
	top: 195px;
	border-top: 1px solid $gray-03;
  	padding-top: 50px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

p, img { margin-bottom: 20px; }

img {
	width: auto;
	height: auto;
	max-width: 100%;
}