/* line 4, about.scss */
body {
  margin: 0;
}

/* line 7, about.scss */
article {
  float: left;
  width: 60%;
  margin-right: 30px;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  /* line 7, about.scss */
  article {
    float: none;
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 0;
  }
}

/* line 21, about.scss */
section p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  color: #666;
}
