/* line 4, about.scss */
body {
  margin: 0;
}

/* line 7, about.scss */
article {
  float: left;
  width: 60%;
  margin-right: 30px;
  margin-bottom: 50px;
  /*@include breakpoint(small) {
  	float: none;
  	width: 100%;
  }*/
}

/* line 19, about.scss */
section p {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #999;
}
