/* line 4, blog.scss */
body {
  margin: 0;
}

/* line 7, blog.scss */
.entry-title {
  text-align: center;
}
/* line 10, blog.scss */
.entry-title a {
  background: #000;
  font-family: Arial;
  text-align: center;
  padding: 5px 20px;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 22, blog.scss */
.entry-content p {
  font-family: Arial;
  font-size: 14px;
  color: #999;
}

/* line 28, blog.scss */
.post {
  padding-bottom: 50px;
  border-bottom: 1px solid #666;
  margin-bottom: 50px;
}
