@import "app/base/core";
@import "theme/base/core";

body {
	margin: 0;
}
section {
	margin: 0 auto;

	p.notfound {
		text-transform: uppercase;
		text-align: center;
		color: $black-01;
		font-weight: 700;
		font-family: $arial;
		letter-spacing: 3px;
	}
}
.entry-title {
	text-align: center;
	margin-bottom: 15px;

	a {
		background: $black-01;
	  	font-family: Arial;
	  	text-align: center;
	  	padding: 5px 20px;
	  	color: $white-01;
	  	letter-spacing: 3px;
	  	text-transform: uppercase;
	  	text-decoration: none;
	  	font-size: 12px;
	}
}
.entry-time {
	font-size: 12px;
	text-align: center;
	color: $gray-03;
}
.entry-content {
	p {
		font-family: Arial;
		font-size: 14px;
		color: $gray-01;
	}
}
.post {
	padding-bottom: 50px;
	border-bottom: 1px solid $gray-03;
	margin-bottom: 50px;
}