// --------------------------------------
// Image Replace
// --------------------------------------

@mixin image-replace() {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	border: 0;
	background-repeat: no-repeat;
	background-position: center center;
}