// --------------------------------------
// Inline Block
// --------------------------------------

@mixin inline-block() {
	display: -moz-inline-stack;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	vertical-align: top;
}